{% extends "base/base.html" %}
{% load static %}
{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});
</script>

<script>
function clearChart() {
 d3.selectAll("svg").remove();
}
</script>

<div class="prc">
  <p>解析中です</p>
</div>
<hr>
<form id="postform" action="{% url 'suggestfunc' %}" method="POST">
  <input type="text" id="title" required>
  <button type="submit" onclick="clearChart();">作成</button>
</form>
<hr>


<script>
$('#postform').submit(function() {
  $("body").addClass("changed");
  $.ajax({
    'url':'{% url "suggestfunc" %}',
    'type':'POST',
    'data':{
      'title':$('#title').val(),
      'created_at':$('#created_at').val(),
      'pk':$('#pk').val(),
      'timekeeper':$('#timekeeper').val(),
    },
    'dataType':'json',
    'success':function(data){
      timer = setInterval(
        function() {
        row = data.timekeeper;
        var script = document.createElement('script');
        //{% load static %}
        //document.write(row);
      if(row==1){
        $("body").removeClass("changed");
        script.src="{{ STATIC_URL }}jsonfiles/s_graph.json";
        script.src = '{{ STATIC_URL }}setting.js';
        $(".graph").append("aaa");
        row = data.timekeeper = 0
        clearInterval(timer)
      }
    },3000);
    },
  });
  return false;
});
</script>

<div class="wrapper">
  <div class="graph">
  </div>
</div>

{% endblock %}
