{% extends "base/base.html" %}
{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});
</script>
<script>
function _delete_element(id_name){
	const target = document.getElementById(id_name);
  target.textContent = ''
}
</script>

<div class="prc">
  <p>解析中です</p>
</div>

<div class="wrapper">
<div style="background-color:white;padding:60px;margin-top:60px;">
  <form id="postform" action="{% url 'rankfunc' %}" method="POST">
    <div class="form-group" style="padding:10%;">
      <label>Please input your Website domain!</label>
      <input type="url" id="url" placeholder="your domain" style="width:100%;margin-bottom:20px;" required>
      <label>Please input search query!</label>
      <textarea cols="30" rows="10" id="title" placeholder="Search Query" style="width:100%;" required></textarea>
    </div>
    <button type="submit" onclick="_delete_element('result');" class="btn btn-primary" style="float:right;">Submit</button>
  </form>
</div>
</div>

<script>
$('#postform').submit(function() {
  $("body").addClass("changed");
  var timer = null;
  $.ajax({
    'url':'{% url "rankfunc" %}',
    'type':'POST',
    'data':{
      'title':$('#title').val(),
      'url':$('#url').val(),
      'r_url':$('#r_url').val(),
      'rank':$('#rank').val(),
      'created_at':$('#created_at').val(),
      'pk':$('#pk').val(),
    },
    'dataType':'json',
    'success':function(data){
      timer = setInterval(
        function() {
        row = data.title;
        var n = data.rank.length
        row2 = data.rank;
        row3 = data.r_url;
        row4 = data.created_at;
        for(var i=0;i<n;i++){
          if(i == 0){
            $("#result").append("<tr style='background-color:#e6e6e6;height:60px;'><td style='width:33.3%'>kewword</td><td style='width:33.3%'>rank</td><td style='width:33.3%'>ranked_url</td></tr>");
          }
          $("#result").append("<tr><td>"+row[i]+"</td><td>"+row2[i]+"</td><td><a href='"+row3[i]+"' target='_blank'>"+row3[i]+"</a></td></tr>");
        }
        if(row2!=''){
          $("body").removeClass("changed");
          clearInterval(timer)
        }
        },1000);
        },
  });
  return false;
});
</script>


<div class="wrapper">
  <table id="result" style="width:100%;margin-top:100px;">
  </table>
</div>
{% endblock %}
