{% extends "base/base.html" %}
{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});
</script>
<script>
function _delete_element(id_name){
	const target = document.getElementById(id_name);
  target.textContent = ''
}
</script>

<div class="prc">
  <p>解析中です</p>
</div>

<hr>
<form id="postform" action="{% url 'rankfunc' %}" method="POST">
  <input type="text" id="title" required>
  <input type="url" id="url">
  <button type="submit" onclick="_delete_element('result');">作成</button>
</form>
<hr>


<script>
$('#postform').submit(function() {
  $("body").addClass("changed");
  var timer = null;
  $.ajax({
    'url':'{% url "rankfunc" %}',
    'type':'POST',
    'data':{
      'title':$('#title').val(),
      'url':$('#url').val(),
      'r_url':$('#r_url').val(),
      'rank':$('#rank').val(),
      'created_at':$('#created_at').val(),
      'pk':$('#pk').val(),
    },
    'dataType':'json',
    'success':function(data){
      timer = setInterval(
        function() {
        row = data.title;
        row2 = data.rank;
        row3 = data.r_url;
        row4 = data.created_at;
        $("#result").append(row,"|",row2,"|",row3,"|",row4);
        if(row2!=''){
          $("body").removeClass("changed");
          clearInterval(timer)
        }
        },1000);
        },
  });
  return false;
});
</script>



<div id="result">
</div>
{% endblock %}
