{% extends "base/base.html" %}
{% block header %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});
</script>

<script>
function _delete_element(id_name){
  const target = document.getElementById(id_name);
  target.textContent = ''
}
</script>

<div class="prc">
  <p>解析中です</p>
</div>

<div class="wrapper form">
  <!--<form id="postform" action="{% url 'kyokifunc' %}" method="POST">
    <input type="text" id="title" required>
    <button type="submit" onclick="_delete_element('result');">作成</button>
  </form> -->
<div style="background-color:white;padding:60px;margin-top:60px;">
  <form id="postform" action="{% url 'kyokifunc' %}" method="POST">
    <div class="form-group">
      <label for="exampleInputPassword1">Please input search query!</label>
      <input type="text" class="form-control" id="title" placeholder="Search Query" required>
    </div>
    <button type="submit" onclick="_delete_element('result');" class="btn btn-primary" style="float:right;">Submit</button>
  </form>
</div>

</div>
<script>
$('#postform').submit(function() {
  $("body").addClass("changed");
  $.ajax({
    'url':'{% url "kyokifunc" %}',
    'type':'POST',
    'data':{
      'title':$('#title').val(),
      'n_kyokiword':$('#n_kyokiword').val(),
      'n_example':$('#n_example').val(),
      'n_url':$('#n_url').val(),
      'v_kyokiword':$('#v_kyokiword').val(),
      'v_example':$('#v_example').val(),
      'v_url':$('#v_url').val(),
      'created_at':$('#created_at').val(),
      'pk':$('#pk').val(),
      'length':$('#length').val(),
    },
    'dataType':'json',
    'success':function(data){
      timer = setInterval(
        function() {
          var array = ['a','b']
          var n = data.length
          var row9 = []
          var toString = Object.prototype.toString
          row = data.title;
          for(var i=0;i<array.length;i++){
            row9.push(array[i],'\n');
          }
          row2 = data.n_kyokiword;
          row3 = data.n_example;
          row4 = data.n_url;
          row5 = data.v_kyokiword;
          row6 = data.v_example;
          row7 = data.v_url;
          row8 = data.created_at;
          row10 = toString.call(row2);
          for(var i=0;i<n;i++){
            if(i == 0){
              $("#result_n").append('<tr style="background-color:#e6e6e6;height:60px;"><th style="width:26.25%;">1</th><th style="width:13.75%";>2</th><th style="width:35%;">3</th><th style="width:30%;">4</th></tr>');
            }
            $("#result_n").append("<tr style='height:60px;'><td>"+row2[i]+"</td><td>23</td><td>"+row3[i]+'</td><td><a href="'+row4[i]+'">こちら</a></td></tr>');
          }
          for(var i=0;i<n;i++){
            if(i == 0){
              $("#result_v").append('<tr style="background-color:#e6e6e6;height:60px;"><th style="width:26.25%;">1</th><th style="width:13.75%";>2</th><th style="width:35%;">3</th><th style="width:30%;">4</th></tr>');
            }
            $("#result_v").append("<tr style='height:60px;'><td>"+row5[i]+"</td><td>23</td><td>"+row6[i]+"</td><td>"+row7[i],"</td></tr>");
          }
          if(row2!=''){
            $("body").removeClass("changed");
            clearInterval(timer)
          }
        }, 1000);
      },
    });
    return false;
  });
</script>

<div class="wrapper">
  <table id="result_n">
  </table>
  <table id="result_v">
  </table>
</div>
{% endblock %}
