{% extends "base/base.html" %}
{% block header %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});
</script>

<div class="prc">
  <p>解析中です</p>
</div>

<hr>
<form id="postform" action="{% url 'kyokifunc' %}" method="POST">
  <input type="text" id="title" required>
  <button type="submit">作成</button>
</form>
<hr>


<script>
$('#postform').submit(function() {
  $("body").addClass("changed");
  $.ajax({
    'url':'{% url "kyokifunc" %}',
    'type':'POST',
    'data':{
      'title':$('#title').val(),
      'n_kyokiword':$('#n_kyokiword').val(),
      'n_example':$('#n_example').val(),
      'n_url':$('#n_url').val(),
      'v_kyokiword':$('#v_kyokiword').val(),
      'v_example':$('#v_example').val(),
      'v_url':$('#v_url').val(),
      'created_at':$('#created_at').val(),
      'pk':$('#pk').val(),
      'length':$('#length').val(),
    },
    'dataType':'json',
    'success':function(data){
      timer = setInterval(
        function() {
        var array = ['a','b']
        var n = data.length
        var row9 = []
        var toString = Object.prototype.toString
        row = data.title;
        for(var i=0;i<array.length;i++){
        row9.push(array[i],'\n');
        }
        row2 = data.n_kyokiword;
        row3 = data.n_example;
        row4 = data.n_url;
        row5 = data.v_kyokiword;
        row6 = data.v_example;
        row7 = data.v_url;
        row8 = data.created_at;
        row10 = toString.call(row2)
        for(var i=0;i<n;i++){
        $("#result_n").append("<tr><td>"+row2[i]+"</td><td>"+row3[i]+'</td><td><a href="'+row4[i]+'">こちら</a></td></tr>');
        }
        for(var i=0;i<n;i++){
        $("#result_v").append("<tr><td>"+row5[i]+"</td><td>"+row6[i]+"</td><td>"+row7[i],"</td></tr>");
        }
        if(row2!=''){
          $("body").removeClass("changed");
          clearInterval(timer)
        }
      }, 1000);
    },
  });
  return false;
});
</script>

<style>
#result_n,#result_v{
  width: 100%;
  height: auto;
  overflow: auto;
}
#result_n td,#result_v td{
  width: 33.3%;
  box-sizing: border-box;
  border-left:solid 1px black;
}
#result_n tr,#result_v tr{
  box-sizing: border-box;
  border-right:solid 1px black;
  border-bottom: solid 1px black;
}
</style>

<table id="result_n">
</table>
<table id="result_v">
</table>
{% endblock %}
